.git
.vs
.vscode
.idea
**/bin
**/obj
**/node_modules
**/*.user
**/.env*
**/*.log
**/*.binlog
**/TestResults
global.json
data.xlsx
prototype
dist
src/BoschHomeVn.WebStore/wwwroot
src/BoschHomeVn.Admin/wwwroot
src/BoschHomeVn.Api/App_Data
